<h1 style="text-align :left">ABOUT JSSATE</h1>

<div class="jumbotron" style="padding:10px">

<p style="text-align :justify">
    JSS Academy of Technical Education (JSSATE) was established in the year 1997 at Bangalore and is under the umbrella of JSS Mahavidyapeetha, Mysore. JSSATE is the result of the vision of our President, His Holiness Jagadaguru Sri Shivarathri Deshikendra Mahaswamiji to proactively participate in establishing a world class Institution for Technical Education. The Campus is located on a sprawling 21.17 acres land surrounded by lush green plantation on the South-Western edge of Bangalore City. The institution is affiliated to Visvesvaraya Technological University (VTU), Belgaum, India.
</p>

<p style="text-align :justify">
    At present JSSATE, Bangalore has seven Under Graduate and four Post Graduate program in Engineering along with a post Graduate program in Business Administration. All the Departments have been recognized as “research Centres” from VTU, Belagavi. More than 75 candidates are pursuing research programs at JSSATE, Bangalore. The total strength of students is more than 2600
</p>

<p style="text-align :justify">
    The Institute has highly qualified faculty. The Institute has initiated a number of multidisciplinary and multi-institutional R&D programs with AICTE, DST and other Departments. Under the R & D activity, the Institute has taken up the design and fabrication of biodiesel plant in collaboration with an industry and it is sponsored by Department of Science & Technology (DST), Government of India. This was recognized as one of the best-completed projects and same is being replicated in different states.
</p>

<p style="text-align :justify">
    JSSATE, Bangalore has an excellent infrastructure with the state-of-the art equipment and machinery as laboratory facilities. The Institution has spacious classrooms and the laboratories. The whole building is networked and has centralized browsing facility with 120 Mbps dedicated internet facility.  The entire college has Wi-Fi facility.
</p>

</div>