{{!-- <div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/signup">SignUp</a>
</div> --}}
<h1 style="text-align :left">JSSATE BANGLORE</h1>
<img src="JSSATEB-Campus.jpg" alt="jssate-campus-photo">

